Leonardo Lima Pimentel 21.08.2024
body{
    background-color: rgb(134, 60, 186);
    color: rgb(0, 0, 0);
    font-family: "Matemasie", sans-serif;
    display:flex ;
    justify-content:center ;
    align-items: center;
    height: 700px;
    margin: 0;
}

button{
    background-color: rgb(255, 111, 231);
    color: rgb(0, 0, 0);
    font-family: "Matemasie", sans-serif;
}

.passo{
    display: none;
}

.passo.ativo {
    display: block;
}
